EMBEDDING_PROVIDER=cohere
COHERE_API_KEY=your_cohere_api_key_here
SOURCE_DIR=./data/docs
CHROMA_PATH=./data/chroma
METADATA_REGISTRY_PATH=./data/document_registry.json
COLLECTION_NAME=intrabot
MAX_TOKENS=512
PDF_DO_OCR=false
PDF_DO_TABLE_STRUCTURE=false
PDF_PAGE_BATCH_SIZE=50
